.qizz-container{
    padding: 15px;
    .title{
        font-size: 20px;
        font-weight: 600;
    }
    legend{
        font-size: 13px;
    }
}

.btn-success{
    margin: 5px 0;
}

.input-group{
    margin-bottom: 5px;
}
.badge-success{
    background-color: green;
}